DATABASE_URL="mysql://root@127.0.0.1:3306/wesbitty"
NEXTAUTH_URL=wesbittyapp.netlify.app
NEXTAUTH_SECRET=578948cc101464b82889fe7399da3658

# This is not required, only an example of using NextAuth.js with GitHub as a provider
# See more documentation here: https://next-auth.js.org/providers/github
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
